
  <nav class="navbar navbar-toggleable-sm bg-info navbar-inverse">
    <div class="container">
      <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNav">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home</a>
          <a class="nav-item nav-link" href="#">About</a>
          <a class="nav-item nav-link" href="#">Training</a>
          <a class="nav-item nav-link" href="#">Contact</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="jumbotron jumbotron-fluid bg-info text-white">
    <div class="container">
      <h1 class="display-1"> Welcome to the Training</h1>
      <p class="lead text-center">The process of learning the skills you need to do a particular job or activity.</p>
    </div>
  </div>

  <div class="container text-muted">
    <!-- cards -->
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <img src="../assets/images/node.png" class="card-img-top-img-fluid"/>
          <div class="card-block">
            <h3 class="card-title">Node JS Training</h3>
            <p>Node.js is an open-source, cross-platform, JavaScript runtime environment that executes JavaScript code outside a web browser. As an asynchronous event-driven JavaScript runtime designed to build scalable network applications scalable network applications.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card">
          <img src="../assets/images/react (1).png" class="card-img-top-img-fluid"/>
          <div class="card-block">
            <h3 class="card-title">React JS Training</h3>
            <p>DescriptionReact is an open-source JavaScript library for building user interfaces or UI components. It is maintained by Facebook and a community of individual developers and companies. React can be used as a base in the development of single-page or mobile applications or web applications.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card">
          <img src="../assets/images/mongo.png" class="card-img-top-img-fluid"/>
          <div class="card-block">
            <h3 class="card-title">MongoDB Training</h3>
            <p>MongoDB is a cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with optional schemas. MongoDB is developed by MongoDB Inc. and licensed under the Server Side Public License.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card">
          <img src="../assets/images/webpack.png" class="card-img-top-img-fluid"/>
          <div class="card-block">
            <h3 class="card-title">Webpack Training</h3>
            <p>Webpack is used to compile JavaScript modules. Once installed, you can interface with webpack either from its CLI or API. If you're still new to webpack, please read through the core concepts and this comparison to learn why you might use it over the other tools that are out in the community.</p>
          </div>
        </div>
      </div>
    </div>

     <h2 class="display-4 text-center py-5 my-4">Meet the Speakers</h2>
     <nav class="nav justify-content-center nav-pills flex-column flex-md-row">
       <a class="nav-link active" href="#venkat" data-toggle="tab">Kuda Venkat</a>
       <a class="nav-link" href="#ninja" data-toggle="tab">The Net Ninja </a>
       <a class="nav-link" href="#caption" data-toggle="tab">Caption Code</a>
       <a class="nav-link" href="#avenger" data-toggle="tab">Angular Avenger</a>
     </nav>

     <div class="tab-content py-5">
       <div class="tab-pane active" id="venkat">
         <h3>Kuda Venkat</h3>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
       </div>

       <div class="tab-pane" id="ninja">
        <h3>The Net Ninja</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
       </p>
      </div>

      <div class="tab-pane" id="caption">
        <h3>Caption Code</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
       </p>
      </div>

      <div class="tab-pane" id="avenger">
        <h3>Angular Avenger</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
       </p>
      </div>
     </div>
  </div>


    